<!--<form [formGroup]="myForm" #uploadForm="ngForm"  (ngSubmit)="uploadForm.invalid==true ? error=true : submit()">
  <div class="form-group">

  <h1> Upload file </h1>
</div>
  <div class="form-group">
    <label for="file">File</label>

    <input
      formControlName="file"
      id="file"
      type="file"
      class="form-control"
      (change)="onFileChange($event)" required/>
    <div *ngIf="error==true" >
      <div *ngIf="error==true">File is required.</div>
    </div>
    adfvcfgv

    <div *ngIf="error==true && f.file.touched && f.file.invalid" >
      adfvcfgv
      <div *ngIf="error==true && f.file.errors.required">File is required.</div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>-->

<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>




</div>


<div *ngIf="uploadProgress">
  <span>Loading... : {{uploadProgress}}%</span>

  <button mat-mini-fab color="secondary" class="cancel-upload" *ngIf="uploadProgress"
    (click)="cancelUpload()">
    <mat-icon>delete_forever</mat-icon>
  </button>

</div>


<div class="progress">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">
  </mat-progress-bar>


</div>
