<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://quercusseg.unex.es/" target="_blank">
                        Quercus SEG
                    </a>
                </li>
                <li>
                    <a href="http://spilab.es/" target="_blank">
                        SPILab
                    </a>
                </li>
                <li>
                    <a href="http://spilab.es/#teamSection" target="_blank">
                        About Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, SPILab
        </div>
    </div>
</footer>
