<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Description of initial features</h4>
            <p class="card-category"> Detailed description of initial features</p>
        </div>
        <div class="card-body">
            <div class="table-responsive tableFixHead">
                <table class="table table-hover">
                    <thead class="">
                        <th>Feature</th>
                        <th *ngFor="let c of columns">
                            {{c}}
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of rows">
                            <td>{{r}}</td>
                            <td *ngFor="let c of columns">
                                {{getFormattedValue(stats[r][c])}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>