<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title"
          >Feature Selection Algorithms feedback</span
        >
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="nav-item" *ngFor="let set of sets; let i = index">
            <a
              mat-button
              [ngClass]="i == 0 ? 'nav-link active' : 'nav-link'"
              href="#{{ getIdByIndex(i) }}"
              data-toggle="tab"
            >
              <i class="material-icons">bug_report</i> {{ name_of_sets[i] }}
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="tab-content">
      <div
        *ngFor="let set of sets; let i = index"
        [ngClass]="i == 0 ? 'tab-pane active' : 'tab-pane'"
        id="{{ getIdByIndex(i) }}" 
      >
        <div [hidden]="see_all[i]">
          <h3>Best option</h3>
          <p>
            <b>Frequency of set:</b> {{ set[0]["frequency"] }}/{{ sets[i].length }}
          </p>
          <p><b>MAE:</b> {{ set[0]["mae"] }}</p>
          <p><b>MSE:</b> {{ set[0]["mse"] }}</p>
          <p><b>R2 score:</b> {{ set[0]["r2_score"] }}</p>
          <p>
            <b>Number of selected inputs:</b>
            {{ set[0]["number_of_selected_features"] }}
          </p>
          <p><b>Selected inputs:</b></p>
          <ul>
            <li *ngFor="let input of set[0].selected_features">{{ input }}</li>
          </ul>
        </div>

        <button
          mat-raised-button
          class="btn btn-secondary btn-block"
          [hidden]="see_all[i]"
          (click)="see_all[i] = true"
        >
          See all outputs
        </button>

        <button
          mat-raised-button
          class="btn btn-secondary btn-block"
          [hidden]="!see_all[i]"
          (click)="see_all[i] = false"
        >
          Show best option
        </button>

        <div [hidden]="!see_all[i]" class="tabFixHead">
            <div *ngFor="let s of set; let i1=index">
            <h4>Output {{i1}}</h4>
            <p>
              <b>Frequency of set:</b> {{ s["frequency"] }}/{{ sets[0].length }}
            </p>
            <p><b>MAE:</b> {{ s["mae"] }}</p>
            <p><b>MSE:</b> {{ s["mse"] }}</p>
            <p><b>R2 score:</b> {{ s["r2_score"] }}</p>
            <p>
              <b>Number of selected inputs:</b>
              {{ s["number_of_selected_features"] }}
            </p>
            <p><b>Selected inputs:</b></p>
            <ul>
              <li *ngFor="let input of s.selected_features">{{ input }}</li>
            </ul>
        </div>
          </div>
        </div>
      </div>


  </div>
</div>
