<div class="card card-chart">
  <div class="card-header card-header-{{color}}">
    <div class="ct-chart" id="myChartId-{{identifier}}"></div>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-category" *ngFor="let t of tendency; let i = index">
      <span  class="text-{{getColorTendency(t)}}"
        ><i class="fa fa-long-arrow-{{getArrowTendency(t)}}"></i> {{t}}%
      </span>
      {{description[i]}}
    </p>
  </div>
  <div class="card-footer">
    <div class="stats">
      <i class="material-icons">access_time</i> Graph generated with {{values.len}}
    </div>
  </div>
</div>