<div class="card">
  <div class="card-header-secondary">
    <h4 class="card-title">Select features functions</h4>
    <p class="card-category">Select the function of features</p>
  </div>
  <div class="card-body table-responsive">
    <h1>Inputs</h1>
    <div class="tableFixHead">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>Name</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let feature of features; let i = index">
        <tr *ngIf="feature.selected==true && feature.usage==FEATURE_USAGE.input">
          <td>{{ feature.name }}</td>
          <td>
            <button [disabled]="disable"
          mat-raised-button
          class="btn btn-secondary btn-block"
          (click)="changeToOutput(i)"
        >
          Change to output
        </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    </div>


    <h1>Outputs</h1>
    <div class="tableFixHead">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>Name</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let feature of features; let i = index">
        <tr *ngIf="feature.selected==true && feature.usage==FEATURE_USAGE.output">
          <td>{{ feature.name }}</td>
          <td>
            <button type="button" [disabled]="disable"
          mat-raised-button
          class="btn btn-secondary btn-block"
          (click)="changeToInput(i)"
        >
          Change to input
        </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    </div>
  </div>
</div>
