<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Select features</h4>
    <p class="card-category">Select the features to be employed</p>
  </div>
  <div class="card-body table-responsive">
    <div class="row">
      <div class="col-md-6">
        <button
          mat-raised-button
          class="btn btn-secondary btn-block"
          (click)="unselectAllFeatures()"
        >
          Uncheck all
        </button>
      </div>
      <div class="col-md-6">
        <button
          mat-raised-button
          class="btn btn-secondary btn-block"
          (click)="selectAllFeatures()"
        >
          Check all
        </button>
      </div>
    </div>
    <div class="tableFixHead">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>Selected</th>
        <th>Name</th>
        <th>Type</th>
        <th>Change Type</th>
      </thead>
      <tbody>
        <tr *ngFor="let feature of features; let i = index">
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="feature.selected"
                  [disabled]="feature.usage==FEATURE_USAGE.output"
                  (click)="notifyChangeInFeatures()"
                />
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
          <td>{{ feature.name }}</td>
          <td>{{ getNameofType(feature.type) }}</td>
          <td class="td-actions text-right">
            <button
              mat-raised-button
              type="button"
              matTooltip="Edit Task"
              [matTooltipPosition]="'above'"
              (click)="changeTypeOfFeature(i)"
              class="btn btn-primary btn-link btn-sm btn-just-icon"
            >
              <i class="material-icons">edit</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
