<div class="main-content">
  <ng-container *ngIf="token == undefined; else datasetLoaded">
    <app-upload-file
      (fileUploadedEvent)="onDatasetLoaded($event)"
    ></app-upload-file>
  </ng-container>
  <ng-template #datasetLoaded>
    <div class="container-fluid">
      <!--TODO añadir boton para desestimar el dataset actual y resetear-->

      <!-- UPPER INDICATORS -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="samples_stats != null">
          <general-stats-card
            [color]="samples_stats.color"
            [icon]="samples_stats.icon"
            [name]="samples_stats.name"
            [value]="samples_stats.value"
            [stats]="samples_stats.stats"
          ></general-stats-card>
        </div>
        <div
          class="col-lg-3 col-md-6 col-sm-6"
          *ngIf="n_features_stats != null"
        >
          <general-stats-card
            [color]="n_features_stats.color"
            [icon]="n_features_stats.icon"
            [name]="n_features_stats.name"
            [value]="n_features_stats.value"
            [stats]="n_features_stats.stats"
          ></general-stats-card>
        </div>
        <div
          class="col-lg-3 col-md-6 col-sm-6"
          *ngIf="n_selected_stats != null"
        >
          <general-stats-card
            [color]="n_selected_stats.color"
            [icon]="n_selected_stats.icon"
            [name]="n_selected_stats.name"
            [value]="n_selected_stats.value"
            [stats]="n_selected_stats.stats"
          ></general-stats-card>
        </div>
        <div
          class="col-lg-3 col-md-6 col-sm-6"
          *ngIf="best_model_stats != null"
        >
          <general-stats-card
            [color]="best_model_stats.color"
            [icon]="best_model_stats.icon"
            [name]="best_model_stats.name"
            [value]="best_model_stats.value"
            [stats]="best_model_stats.stats"
          ></general-stats-card>
        </div>
      </div>

      <!-- EVOLUTION FEATURES CARD -->
      <div class="row">
        <div class="col-md-4" *ngIf="evolutions_features_stats != null">
          <evolution-chart-card
            [identifier]="'evolution_features'"
            [name]="evolutions_features_stats.name"
            [description]="evolutions_features_stats.descriptions"
            [values]="evolutions_features_stats.values"
            [type]="evolutions_features_stats.type"
            [objective]="evolutions_features_stats.objective"
          ></evolution-chart-card>
        </div>

        <div class="col-md-4" *ngIf="evolutions_r2score_stats != null">
          <evolution-chart-card
            [identifier]="'evolution_r2'"
            [name]="evolutions_r2score_stats.name"
            [description]="evolutions_r2score_stats.descriptions"
            [values]="evolutions_r2score_stats.values"
            [type]="evolutions_r2score_stats.type"
            [objective]="evolutions_r2score_stats.objective"
          ></evolution-chart-card>
        </div>

        <div class="col-md-4" *ngIf="evolutions_mse_stats != null">
          <evolution-chart-card
            [identifier]="'evolution_error'"
            [name]="evolutions_mse_stats.name"
            [description]="evolutions_mse_stats.descriptions"
            [values]="evolutions_mse_stats.values"
            [type]="evolutions_mse_stats.type"
            [objective]="evolutions_mse_stats.objective"
          ></evolution-chart-card>
        </div>
      </div>

      <!------PRINCIPAL CONTENT--------->

      <div class="row">
        <!------LEFT COLUMN--------->
        <div class="col-lg-4 col-md-12">
          <!-- SELECT FEATURES CARD -->
          <div class="row">
          <div class="col-lg-12 col-md-12">
            <selection-card [features]="features" (featuresSelectedChangesEmit)="onFeaturesSelectedChanges(event)"></selection-card>
          </div>
        </div>


          <!-- INPUTS AND OUTPUTS CARDS (FOR SELECTION IN INITIAL STAGE AND FOR VISUALIZATION LATER)-->
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <feature-function-card [features]="features" [disable]="isInitialSelection==true || executing==true" (featuresFunctionsChangesEmit)="onFeaturesFunctionsChanges(event)"></feature-function-card>
            </div>
          </div>
        </div>

        <!------RIGHT COLUMN--------->
        <div class="col-lg-8 col-md-12">
          <!--STEP 1: DESCRIPTION OF FEATURES AND BUTTONS FOR OUTLIERS AND BEGIN SELECTION-->
          <ng-container
            *ngIf="isInitialSelection == false; else initialSelectionDone"
          >
            <!--description of features tables-->
            <div class="row">
              <div class="col-lg-12 col-md-12 ml-auto mr-auto">
            <description-table [stats]="features_stats"></description-table>
            </div>
            </div>
            <!--buttons-->
            <div class="row">
              <div class="col-lg-12 col-md-12 ml-auto">
                <div class="row">
                  <div [class]="executing==false ? 'col-md-6' : 'col-md-5'">
                    <button
                      type="button"
                      mat-raised-button
                      class="btn btn-secondary btn-block"
                      [disabled]="outliersFiltered == true || executing==true"
                      (click)="executeOutliersDetection()"
                    >
                      Execute outliers detection
                    </button>
                  </div>
                  <div [class]="executing==false ? 'col-md-6' : 'col-md-5'">
                    <button
                      mat-raised-button
                      class="btn btn-primary btn-block"
                      [disabled]="executing==true"
                      (click)="executeSelection()"
                    >
                      Start feature selection
                    </button>
                  </div>
                  <div class="col-md-2" *ngIf="executing==true">
                    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!--STEP 2: INFORMATION FROM FEATURE SELECTION-->
          <ng-template #initialSelectionDone>
            <!--card with information from selection-->
            <div class="row">
              <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                <show-feature-selection-output-card [sets]="[best_r2_score_sets, minimum_features_sets, most_frequent_sets]" [name_of_sets]="['Best R2 score sets', 'Minimum features sets', 'Most frequent sets']" [icons]="['fa-tachometer-fast','fa-search-minus','fa-wave-square']"></show-feature-selection-output-card>
              </div>
            </div>
            <!--buttons-->
            <div class="row">
              <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                <div class="row">
                  <div [class]="executing==false ? 'col-md-6' : 'col-md-5'">
                    <button
                      mat-raised-button
                      class="btn btn-secondary btn-block"
                      [disabled]="executing==true"
                      (click)="generateModel()"
                    >
                      Generate model
                    </button>
                  </div>
                  <div [class]="executing==false ? 'col-md-6' : 'col-md-5'">
                    <button
                      mat-raised-button
                      class="btn btn-primary btn-block"
                      [disabled]="executing==true"
                      (click)="executeSelection()"
                    >
                      Execute feature selection
                    </button>
                  </div>
                  <div class="col-md-2" *ngIf="executing==true" >
                    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

    </div>
  </ng-template>
</div>
