<div class="card card-stats">
  <div class="card-header card-header-{{color}} card-header-icon">
    <div class="card-icon">
      <i class="material-icons">{{icon}}</i>
    </div>
    <p class="card-category">{{ name }}</p>
    <h3 class="card-title">{{ value }}</h3>
  </div>
  <div class="card-footer">
    <div class="stats">
      <div *ngFor="let s of stats">
        <i *ngIf="s.icon != 'warning'" class="material-icons">{{ s.icon }}</i
        ><i *ngIf="s.icon == 'warning'" class="material-icons text-danger"
          >warning</i
        >
        {{ s.name }}: {{ s.value }}
      </div>
    </div>
  </div>
</div>
